<form action="/add-task" method="post">
    <label for="title">Titre</label>
    <input type="text" name="title" placeholder="Title" id="title">
    <label for="description">description</label>
    <input type="text" name="description" placeholder="Description" id="description">
    <button type="submit">Add Task</button>


</form>